node_modules
dist
.env
.env.*
pnpm-lock.yaml
*.test.ts
__tests__
coverage
.git
.gitignore
android
ios
assets
app
components
constants
hooks
lib
global.css
tailwind.config.js
theme.config.js
theme.config.d.ts
